* {
    border:        none;
    border-radius: 0px;
    font-family:  "JetBrains Mono Nerd Font",Bold;
 /*   font-weight:    900;*/
    font-size:     16px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    border-color:rgba(127, 219, 202, 1);
    background: rgba(127, 219, 202, 0);
}

window#waybar.solo {
    color:      rgba(29, 59, 83, 1);
    background: rgba(35, 31, 32, 0.6);
}

#workspaces {
    margin: 0 5px;
    border-radius: 0px 0px 10px 10px;
    background: rgba(1, 22, 39, 1);
    border-width: 2px;
}

#workspaces button {
    border-style: none;
 /* padding:    0 10px; */
    color: rgba(127, 219, 202, 1);
}

#workspaces button.visible {
    color:      rgba(127, 219, 202, 1);
    background-color:      rgba(43, 43, 43, 1);
    border-radius: 0px 0px 10px 10px;
    margin:     0px 0px 0px 0px;
}

#workspaces button.focused {
    background-color: rgba(255, 235, 149, 1);
    color: rgba(1, 22, 39, 1);
}

#workspaces button.urgent {
    color:      rgba(239, 83, 80, 1);
}

#mode, #cpu, #memory, #network, #pulseaudio, #custom-storage, #custom-weather {
    color: rgba(29, 59, 83, 1);
    border-left: 2px;
    border-bottom: 2px;
    border-right: 2px;
    border-radius: 0px 0px 10px 10px;
    border-style: none;
    margin:     0 1px;
    padding:    0 16 0 10px;
    background-color: rgba(127, 216, 202, 1);
    min-width:  10px;
}
#custom-spotifyd {
    color:  rgba(1, 22, 39, 1);
    border-color: rgba(127, 216, 202, 1);
    border-left: 2px;
    border-bottom: 2px;
    border-right: 2px;
    border-radius: 0px 0px 10px 10px;
    border-style: none;
    margin:     0px 1px;
    padding:    0px 16px 0px 10px;
    background-color: rgba(173, 219, 103, 1);
    min-width:  10px;
}
#clock {
    padding:    0px 16px 0px 10px;
 /* margin:     0px 16px 0px 10px; */
    min-width:  140px;
    color: rgba(1, 22, 39, 1);
    background-color: rgba(130, 170, 255, 1);
    border-color: rgba(255, 210, 4, 0);
    border-bottom: 2px;
    border-right: 2px;
    border-radius: 0px 0px 10px 10px;
    border-left: 2px;
    border-style: none;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(239, 83, 80, 1);
}

#battery.charging {
    color:      rgba(214, 222, 235, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(239, 83, 80, 1);
}
